body {
  background: #f3f3f3;
  font-family: courier, monospace;
}

.fa {
  line-height: inherit;
}

.game {
  position: relative;
  margin: 100px auto;
}

.macro-input {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.macro-input-label {
  white-space: nowrap;
}

.macro-input-input {
  flex-grow: 1;
  min-width: 50px;
  font-size: 20px;
  font-family: FontAwesome;
  line-height: 20px;
  padding: 2px 5px;
  border: 0;
}

.macro-input-input::-webkit-input-placeholder {
  font-family: courier, monospace;
  font-size: 13px;
}

.status {
  padding: 5px;
  text-align: right;
}

.status.game-over {
  color: #f00;
  font-weight: bold;
}

.board {
  position: relative;
  background: #fff;
}

.player {
  position: absolute;
  text-align: center;
  font-size: 30px;
}

.invalid-position {
  color: #f00;
}

.diamond {
  position: absolute;
  font-size: 30px;
  text-align: center;
}

.block {
  position: absolute;
  background: #f3f3f3;
}

.restart-button {
  position: absolute;
  top: 8px;
  right: 1%;
  line-height: 20px;
  font-family: courier, monospace;
}
